flask_jwt_extended
werkzeug
xlwt
xlrd
sqlalchemy
requests
flask
flask_restful
flask-restplus
flask_script
flask_migrate
marshmallow
flask_sqlalchemy
flask_marshmallow
marshmallow-sqlalchemy
psycopg2-binary
flask_cors
graphic-verification-code
flask_compress
pandas
xlsxwriter